<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" lang="eng">
	<title>The Wishing App</title>
		{% load static %}
	<link rel="stylesheet" href="{% static 'Belt_review_app/css/home.css' %}">
</head>
<body>
	<h1>Hello {{loggedinUser.first_name}}! Make a wish!</h1>


	<div class="container">
		<form action="/makewish/{{loggedinUser.id}}" method="post">
			{% csrf_token %}
			I wish for:<input type="text" name="item">
			<br>
			Description:<input type="text" name="description">
			<br>
			<button formaction="/home" type="submit">Cancel</button>
			<input type="submit" name="" value="Submit">
		</form>
		<a href="">Logout</a>

	</div>

</body>
</html>